@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Noto Sans KR', sans-serif;
    /* @apply dark800; */
  }

  .title {
    font-family: 'Cafe24Ssurround';
  }
}

.table-header {
  @apply flex items-center h-full p-2  dark:border-zinc-500;
}

.table-header-last {
  @apply flex items-center h-full p-2;
}

.table-header-last-hidden {
  @apply items-center h-full p-2 md:flex-1 hidden md:flex;
}

.table-data {
  @apply flex items-center h-full p-2 dark:border-zinc-500;
}

.table-data-last {
  @apply flex items-center h-full p-2;
}

.dark800 {
  @apply bg-white dark:bg-zinc-800;
}
